<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiplusplus.favorites.mapper.FileStorageMapper">
    <delete id="reallyDelete" parameterType="java.lang.Integer">
        delete from file_storage where id in
            <foreach collection="idList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
</mapper>